<div ng-include="'components/navbar/navbar2.html'"></div>
<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div class="col-md-12">
  <div  id="test">

  <div class="bs-example" data-example-id="hoverable-table">
    <table class="table">
      <thead>
      <tr>
        <th><input id="checkBox" type="checkbox" ng-model="selectedAll" ng-click="checkAll()"></th>
        <th>Blog</th>
      </tr>
      </thead>
      <tbody ng-repeat="thing in awesomeThings">
      <tr>
        <td scope="row"><input type="checkbox" ng-model="thing.Selected"></td>
        <td><a href="" ng-click="addView(thing._id)"  ng-bind-html="thing.name | limitTo : 80"> </a> </td>
      </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>
</div>

