<div id="wrapper">
  <!-- Sidebar -->
  <div ng-include="'components/navbar/navbar2.html'"></div>
  <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
    <span class="glyphicon glyphicon-arrow-left"></span>
    <span class="glyphicon glyphicon-arrow-right"></span> </a>
  <div id="page-content-wrapper">
    <div id="textarea">
      <h1>Simple Blog Post</h1>
      <span class="P66RVY-M-f">
        <button class="btn btn-warning">Publish</button>
        <button class="btn btn-warning"  ng-click="addThing()" data-toggle="modal" data-target=".bs-example-modal-lg">Save</button>
        <button class="btn btn-warning">Preview</button>
        <button class="btn btn-warning">Close</button>
      </span>


      <div  id="test">
      <div class="bs-example" data-example-id="hoverable-table">
        <table class="table table-hover">
          <thead>
          <tr>
            <th><input type="checkbox" ng-model="selectedAll" ng-click="checkAll()"></th>
            <th>Blog</th>
          </tr>
          </thead>
          <tbody ng-repeat="thing in awesomeThings">
          <tr>
              <td scope="row"><input type="checkbox" ng-model="thing.Selected"></td>
         <td><a href="#">{{thing.name | limitTo : 80}}  </a> </td>
          </tr>
          </tbody>
        </table>
      </div>

      </div>


     <p></p>
      <p></p>
      <p></p>
      <a  name="/textarea">
          <textarea ng-model="blogTextArea"></textarea>
      </a>

    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
        <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
    </div>
  </footer>
</div>

