<div id="wrapper">
  <!-- Sidebar -->
  <div ng-include="'components/navbar/navbar2.html'"></div>
  <a href="#menu-toggle" class="btn btn-default arrow" id="menu-toggle">
    <span class="glyphicon glyphicon-arrow-right arrow-img rotate-reset"></span>
  </a>
  <div id="page-content-wrapper">
    <div id="textarea">
      <h1>Simple Blog Post</h1>
      <span class="P66RVY-M-f">
        <button class="btn btn-warning">Publish</button>
        <button class="btn btn-warning"  ng-click="addThing()" data-toggle="modal" data-target=".bs-example-modal-lg">Save</button>
        <button class="btn btn-warning">Preview</button>
        <button class="btn btn-warning">Close</button>
      </span>

     <p></p>
      <p></p>
      <p></p>
      <a  name="/textarea">
          <textarea ng-model="blogTextArea"></textarea>
      </a>

    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
        <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
    </div>
  </footer>
</div>

