
<div id="wrapper">





  <div ng-include="'components/navbar/navbar2.html'"></div>
  <a href="#menu-toggle" class="btn btn-default arrow" id="menu-toggle">
    <span class="glyphicon glyphicon-arrow-right arrow-img rotate-reset"></span>
  </a>

  <div id="page-content-wrapper">
    <div ng-include="'components/navbar/navbar.html'" ></div>
    <div id="textarea">
      <!--<div ng-include="'components/navbar/navbar.html'"></div>-->
      <!--<h1>Simple Blog Post</h1>-->
      <span class="P66RVY-M-f">
        <button class="btn btn-warning">Publish</button>
        <button class="btn btn-warning"  ng-click="addThing()" data-toggle="modal" data-target="bs-example-modal-lg">Save</button>
        <button class="btn btn-warning">Preview</button>
        <button class="btn btn-warning" ui-sref="savePost">Close</button>
      </span>
     <p></p>
      <p></p>
      <p></p>
      <div text-angular ng-model="htmlVariable"></div>
      <audio controls>
        <source src="../../assets/images/01%20-%20Sab%20Aakho%20Ali%20Ali%20-%20S07E01.mp3">
      </audio>
    </div>
  </div>
</div>

